In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Read the PSV files and exploration of the Data

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Data Lab/train/patient_4.psv', sep='|')
df

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,1,0
1,93.0,92.5,NaN,110.0,76.0,56.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,2,0
2,91.0,96.0,NaN,108.0,84.5,72.0,23.5,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,3,0
3,93.0,98.0,NaN,123.0,87.0,61.0,21.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,4,0
4,93.0,95.0,NaN,110.0,81.0,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,5,0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,6,0
6,91.5,97.0,36.5,104.0,75.0,60.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,7,0
7,94.0,95.0,NaN,114.0,85.0,66.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,8,0
8,94.0,95.0,NaN,121.0,88.0,69.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,9,0
9,102.0,95.0,NaN,117.0,89.0,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,10,0
10,106.0,97.0,36.8,107.0,82.0,68.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,11,0
11,107.0,95.0,NaN,112.0,86.0,67.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,12,0
12,102.0,95.0,NaN,108.0,80.0,59.0,20.0,NaN,NaN,NaN,...,10.8,NaN,170.0,73,1,1,0,-214.64,13,0
13,98.0,95.0,NaN,112.0,81.0,61.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,14,0
14,95.0,96.0,36.6,110.0,82.0,61.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,15,0
15,105.0,94.0,NaN,119.0,86.0,63.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,16,0
16,94.0,93.0,NaN,114.0,84.0,63.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,17,0
17,98.0,97.0,NaN,116.0,84.0,63.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,18,0
18,98.0,99.0,36.9,121.0,86.0,62.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,19,0
19,105.0,95.0,NaN,106.0,76.0,55.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,20,0
20,96.0,93.0,NaN,110.0,81.0,62.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,21,0
21,102.0,96.0,NaN,115.0,85.0,67.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,22,0
22,105.0,97.0,37.0,108.0,83.0,69.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,23,0
23,107.0,92.0,NaN,116.0,87.0,70.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,24,0

In [4]:
df.columns

Index(['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2',
       'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN',
       'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct',
       'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
       'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
       'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
       'HospAdmTime', 'ICULOS', 'SepsisLabel'],
      dtype='object')

In [10]:
columns_df = ['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2',
              'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN',
              'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct',
              'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
              'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
              'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
              'HospAdmTime', 'ICULOS', 'SepsisLabel']

clinical_values = ['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2']

lab_variables = ['BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN',
                'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct',
                'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
                'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
                'Fibrinogen', 'Platelets']

demographical_values = [ 'Age', 'Gender', 'Unit1', 'Unit2','HospAdmTime', 'ICULOS']

columns_name = []

for col in clinical_values:
  columns_name.append(col+'_mean')
  columns_name.append(col+'_std')
  columns_name.append(col+'_max')
  columns_name.append(col+'_min')

for col in lab_variables:
  columns_name.append(col+'_mean')
  columns_name.append(col+'_std')
  columns_name.append(col+'_max')
  columns_name.append(col+'_min')

for col in demographical_values:
  columns_name.append(col)

columns_name.append('label')

print(len(columns_name))

143

In [7]:
def compute_line_and_label(df):
  sequential_count = 0
  sepsis = 0
  row = 0
  column_label = df['SepsisLabel']
  for index, value in enumerate(column_label):
    if value == 1:
      sequential_count += 1
      if sequential_count == 6:
         sepsis = 1
         row = index - 5
    else:
      sequential_count = 0
    row = index
  return sepsis, row

In [8]:
sepsis, row = compute_line_and_label(df)
print(sepsis, row)

0 22

In [5]:
def compute_patient_data(df):
  data_line = []
  sepsis, row = compute_line_and_label(df)
  df = df.loc[0:row]
  line = []
  #for the clinical values we take the mean, max, min and std 
  for col in clinical_values:
    description = df[col].describe().to_dict()
    try:
       line.append(float(description['mean']))
    except:
       line.append('NaN')
    
    if description['count'] == 1:
      line.append(0)
    else:
      line.append(float(description['std']))
    try:
       line.append(float(description['max']))
    except:
       line.append('NaN')
      
    try:
       line.append(float(description['min']))
    except:
       line.append('NaN')
  
  for col in lab_variables:
    description = df[col].describe().to_dict()
    try:
       line.append(float(description['mean']))
    except:
       line.append(float(description['max']))

    if description['count'] == 1:
      line.append(0)
    else:
      line.append(float(description['std']))
    
    try:
       line.append(float(description['max']))
    except:
       line.append('NaN')
    
    try:
       line.append(float(description['min']))
    except:
       line.append('NaN')
  
  for col in demographical_values:
    description = df[col].describe().to_dict()
    try:
       line.append(int(description['mean']))
    except:
       line.append('NaN')
  
  line.append(int(sepsis))
  return line

Compute the full train and test dataset

In [9]:
dataset = []

for i in range(0, 20000):
  if i%100==0 and i!=0:
    print(i)
  df = pd.read_csv('/content/drive/MyDrive/Data Lab/train/patient_' + str(i)+'.psv', sep='|')
  dataset.append(compute_patient_data(df))

train_df = pd.DataFrame(dataset, columns=columns_name)
train_df

NameError: ignored

In [18]:
dataset = []

for i in range(0, 1000):
  if i%100==0 and i!=0:
    print(i)
  df = pd.read_csv('/content/drive/MyDrive/Data Lab/test/patient_' + str(i)+'.psv', sep='|')
  dataset.append(compute_patient_data(df))

test_df = pd.DataFrame(dataset, columns=columns_name)
test_df
test_df.to_csv('/content/drive/MyDrive/Data/test.csv', index=True)

100
200
300
400
500
600
700
800
900

In [23]:
missing_values = train_df.isna().sum()
percent_missing = (missing_values / len(train_df)) * 100
missing_data = pd.DataFrame({'Nombre de valeurs manquantes': missing_values, '% de valeurs manquantes': percent_missing})
pd.set_option('display.max_rows', 10000)
print(missing_data)

                       Nombre de valeurs manquantes  % de valeurs manquantes
HR_mean                                           3                    0.015
HR_std                                            3                    0.015
HR_max                                            3                    0.015
HR_min                                            3                    0.015
O2Sat_mean                                       12                    0.060
O2Sat_std                                        12                    0.060
O2Sat_max                                        12                    0.060
O2Sat_min                                        12                    0.060
Temp_mean                                       131                    0.655
Temp_std                                        131                    0.655
Temp_max                                        131                    0.655
Temp_min                                        131                    0.655
SBP_mean                                        136                    0.680
SBP_std                                         136                    0.680
SBP_max                                         136                    0.680
SBP_min                                         136                    0.680
MAP_mean                                         44                    0.220
MAP_std                                          44                    0.220
MAP_max                                          44                    0.220
MAP_min                                          44                    0.220
DBP_mean                                       3570                   17.850
DBP_std                                        3570                   17.850
DBP_max                                        3570                   17.850
DBP_min                                        3570                   17.850
Resp_mean                                        36                    0.180
Resp_std                                         36                    0.180
Resp_max                                         36                    0.180
Resp_min                                         36                    0.180
EtCO2_mean                                    18433                   92.165
EtCO2_std                                     18433                   92.165
EtCO2_max                                     18433                   92.165
EtCO2_min                                     18433                   92.165
BaseExcess_mean                               13426                   67.130
BaseExcess_std                                13426                   67.130
BaseExcess_max                                13426                   67.130
BaseExcess_min                                13426                   67.130
HCO3_mean                                     10074                   50.370
HCO3_std                                      10074                   50.370
HCO3_max                                      10074                   50.370
HCO3_min                                      10074                   50.370
FiO2_mean                                     11168                   55.840
FiO2_std                                      11168                   55.840
FiO2_max                                      11168                   55.840
FiO2_min                                      11168                   55.840
pH_mean                                       10583                   52.915
pH_std                                        10583                   52.915
pH_max                                        10583                   52.915
pH_min                                        10583                   52.915
PaCO2_mean                                    10871                   54.355
PaCO2_std                                     10871                   54.355
PaCO2_max                                     10871                   54.355
PaCO2_min                                     10871                   54.355
SaO2_mean                                     13482                   67.410
SaO2_std                                      13482                   67.410
SaO2_max                                      13482                   67.410
SaO2_min                                      13482                   67.410
AST_mean                                      12931                   64.655
AST_std                                       12931                   64.655
AST_max                                       12931                   64.655
AST_min                                       12931                   64.655
BUN_mean                                       1001                    5.005
BUN_std                                        1001                    5.005
BUN_max                                        1001                    5.005
BUN_min                                        1001                    5.005
Alkalinephos_mean                             13034                   65.170
Alkalinephos_std                              13034                   65.170
Alkalinephos_max                              13034                   65.170
Alkalinephos_min                              13034                   65.170
Calcium_mean                                   2680                   13.400
Calcium_std                                    2680                   13.400
Calcium_max                                    2680                   13.400
Calcium_min                                    2680                   13.400
Chloride_mean                                  9457                   47.285
Chloride_std                                   9457                   47.285
Chloride_max                                   9457                   47.285
Chloride_min                                   9457                   47.285
Creatinine_mean                                1019                    5.095
Creatinine_std                                 1019                    5.095
Creatinine_max                                 1019                    5.095
Creatinine_min                                 1019                    5.095
Bilirubin_direct_mean                         19001                   95.005
Bilirubin_direct_std                          19001                   95.005
Bilirubin_direct_max                          19001                   95.005
Bilirubin_direct_min                          19001                   95.005
Glucose_mean                                    767                    3.835
Glucose_std                                     767                    3.835
Glucose_max                                     767                    3.835
Glucose_min                                     767                    3.835
Lactate_mean                                  13800                   69.000
Lactate_std                                   13800                   69.000
Lactate_max                                   13800                   69.000
Lactate_min                                   13800                   69.000
Magnesium_mean                                 2469                   12.345
Magnesium_std                                  2469                   12.345
Magnesium_max                                  2469                   12.345
Magnesium_min                                  2469                   12.345
Phosphate_mean                                 6035                   30.175
Phosphate_std                                  6035                   30.175
Phosphate_max                                  6035                   30.175
Phosphate_min                                  6035                   30.175
Potassium_mean                                  915                    4.575
Potassium_std                                   915                    4.575
Potassium_max                                   915                    4.575
Potassium_min                                   915                    4.575
Bilirubin_total_mean                          12960                   64.800
Bilirubin_total_std                           12960                   64.800
Bilirubin_total_max                           12960                   64.800
Bilirubin_total_min                           12960                   64.800
TroponinI_mean                                16445                   82.225
TroponinI_std                                 16445                   82.225
TroponinI_max                                 16445                   82.225
TroponinI_min                                 16445                   82.225
Hct_mean                                       1155                    5.775
Hct_std                                        1155                    5.775
Hct_max                                        1155                    5.775
Hct_min                                        1155                    5.775
Hgb_mean                                       1222                    6.110
Hgb_std                                        1222                    6.110
Hgb_max                                        1222                    6.110
Hgb_min                                        1222                    6.110
PTT_mean                                      10070                   50.350
PTT_std                                       10070                   50.350
PTT_max                                       10070                   50.350
PTT_min                                       10070                   50.350
WBC_mean                                       1306                    6.530
WBC_std                                        1306                    6.530
WBC_max                                        1306                    6.530
WBC_min                                        1306                    6.530
Fibrinogen_mean                               17769                   88.845
Fibrinogen_std                                17769                   88.845
Fibrinogen_max                                17769                   88.845
Fibrinogen_min                                17769                   88.845
Platelets_mean                                 1287                    6.435
Platelets_std                                  1287                    6.435
Platelets_max                                  1287                    6.435
Platelets_min                                  1287                    6.435
Age                                               0                    0.000
Gender                                            0                    0.000
Unit1                                             0                    0.000
Unit2                                             0                    0.000
HospAdmTime                                       0                    0.000
ICULOS                                            0                    0.000
label                                             0                    0.000

In [20]:
import numpy as np

clinical_values = ['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp']

lab_variables = ['BUN', 'Calcium', 'Creatinine',
                'Glucose', 'Magnesium', 'Phosphate', 'Potassium', 'Hct', 'Hgb', 'WBC', 'Platelets']

demographical_values = [ 'Age', 'Gender', 'Unit1','HospAdmTime']


columns_name = []

for col in clinical_values:
  columns_name.append(col+'_mean')
  columns_name.append(col+'_std')
  columns_name.append(col+'_max')
  columns_name.append(col+'_min')

for col in lab_variables:
  columns_name.append(col+'_mean')
  columns_name.append(col+'_std')
  columns_name.append(col+'_max')
  columns_name.append(col+'_min')

for col in demographical_values:
  columns_name.append(col)

columns_name.append('label')

def compute_patient_data2(df):
  data_line = []
  sepsis, row = compute_line_and_label(df)
  df = df.loc[0:row]
  line = []
  #for the clinical values we take the mean, max, min and std 
  for col in clinical_values:
    description = df[col].describe().to_dict()
    try:
       line.append(float(description['mean']))
    except:
       line.append('NaN')
    
    if description['count'] == 1:
      line.append(0)
    else:
      line.append(float(description['std']))
    try:
       line.append(float(description['max']))
    except:
       line.append('NaN')
      
    try:
       line.append(float(description['min']))
    except:
       line.append('NaN')
  
  for col in lab_variables:
    description = df[col].describe().to_dict()
    try:
       line.append(float(description['mean']))
    except:
       line.append(float(description['max']))

    if description['count'] == 1:
      line.append(0)
    else:
      line.append(float(description['std']))
    
    try:
       line.append(float(description['max']))
    except:
       line.append('NaN')
    
    try:
       line.append(float(description['min']))
    except:
       line.append('NaN')
  
  for col in demographical_values:
    description = df[col].describe().to_dict()
    try:
       val = int(description['mean'])
    except:
       val = 0
    if col == 'Unit1':
       unit1 = val
       try:
          unit2 = int(description['mean'])
       except:
          unit2 = 0
       val = np.max([unit1, unit2])
    line.append(val)
  
  line.append(int(sepsis))
  return line

dataset = []

for i in range(0, 20000):
  if i%500==0 and i!=0:
    print(i)
  df = pd.read_csv('/content/drive/MyDrive/Data Lab/train/patient_' + str(i)+'.psv', sep='|')
  dataset.append(compute_patient_data2(df))

train_df = pd.DataFrame(dataset, columns=columns_name)
train_df

77
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15500
16000
16500
17000
17500
18000
18500
19000
19500

,HR_mean,HR_std,HR_max,HR_min,O2Sat_mean,O2Sat_std,O2Sat_max,O2Sat_min,Temp_mean,Temp_std,...,WBC_min,Platelets_mean,Platelets_std,Platelets_max,Platelets_min,Age,Gender,Unit1,HospAdmTime,label
0,60.954545,8.144395,94.0,54.0,97.000000,2.138090,100.0,94.0,36.165000,0.151625,...,11.0,158.000000,0.000000,158.0,158.0,75,0,0,-98,0
1,89.121212,6.845425,106.0,79.0,100.000000,0.000000,100.0,100.0,37.680000,0.377856,...,10.6,198.000000,23.388031,225.0,184.0,65,1,0,0,1
2,74.828571,7.875822,89.0,60.0,96.161290,2.252358,100.0,92.0,36.791000,0.414205,...,3.5,65.000000,0.000000,65.0,65.0,52,1,1,0,0
3,76.559524,10.748909,101.0,58.0,96.583333,1.521860,99.0,94.0,37.147500,0.247538,...,10.3,193.000000,70.710678,243.0,143.0,49,1,0,0,0
4,98.613636,5.520377,107.0,91.0,95.340909,1.768685,99.0,92.0,36.760000,0.207364,...,10.8,170.000000,0.000000,170.0,170.0,73,1,1,-214,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,104.407407,10.936914,121.0,84.0,97.796296,1.766457,100.0,95.0,37.229167,0.515160,...,NaN,NaN,NaN,NaN,NaN,59,1,0,-4,0
19996,63.714286,6.153665,81.0,53.0,99.642857,0.655983,100.0,97.0,36.338462,0.539550,...,2.3,120.000000,0.000000,120.0,120.0,65,1,0,0,0
19997,74.928571,6.082311,84.0,65.0,98.214286,0.611250,99.0,97.0,37.792500,0.821356,...,6.5,184.000000,0.000000,184.0,184.0,79,0,1,0,0
19998,83.666667,10.030163,110.0,60.0,99.484848,1.148945,100.0,96.0,37.033636,0.678208,...,8.8,166.666667,27.934447,197.0,142.0,38,1,0,0,0
19999,101.571429,9.594378,117.0,76.0,91.477273,3.460667,100.0,85.0,36.778000,0.421078,...,5.7,327.500000,14.849242,338.0,317.0,83,0,0,0,0

In [21]:
train_df.to_csv('/content/drive/MyDrive/Data/train_df_real.csv', index=False)

In [95]:
dataset = []

for i in range(0, 10000):
  if i%500==0 and i!=0:
    print(i)
  df = pd.read_csv('/content/drive/MyDrive/Data Lab/test/patient_' + str(i)+'.psv', sep='|')
  dataset.append(compute_patient_data2(df))

test_df = pd.DataFrame(dataset, columns=columns_name)
test_df
test_df.to_csv('/content/drive/MyDrive/Data/test_df_real.csv', index=False)

500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500

In [159]:
train_df = pd.read_csv('/content/drive/MyDrive/Data/train_df_real.csv')
train_df

,HR_mean,HR_std,HR_max,HR_min,O2Sat_mean,O2Sat_std,O2Sat_max,O2Sat_min,Temp_mean,Temp_std,...,WBC_min,Platelets_mean,Platelets_std,Platelets_max,Platelets_min,Age,Gender,Unit1,HospAdmTime,label
0,60.954545,8.144395,94.0,54.0,97.000000,2.138090,100.0,94.0,36.165000,0.151625,...,11.0,158.000000,0.000000,158.0,158.0,75,0,0,-98,0
1,89.121212,6.845425,106.0,79.0,100.000000,0.000000,100.0,100.0,37.680000,0.377856,...,10.6,198.000000,23.388031,225.0,184.0,65,1,0,0,1
2,74.828571,7.875822,89.0,60.0,96.161290,2.252358,100.0,92.0,36.791000,0.414205,...,3.5,65.000000,0.000000,65.0,65.0,52,1,1,0,0
3,76.559524,10.748909,101.0,58.0,96.583333,1.521860,99.0,94.0,37.147500,0.247538,...,10.3,193.000000,70.710678,243.0,143.0,49,1,0,0,0
4,98.613636,5.520377,107.0,91.0,95.340909,1.768685,99.0,92.0,36.760000,0.207364,...,10.8,170.000000,0.000000,170.0,170.0,73,1,1,-214,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,104.407407,10.936914,121.0,84.0,97.796296,1.766457,100.0,95.0,37.229167,0.515160,...,NaN,NaN,NaN,NaN,NaN,59,1,0,-4,0
19996,63.714286,6.153665,81.0,53.0,99.642857,0.655983,100.0,97.0,36.338462,0.539550,...,2.3,120.000000,0.000000,120.0,120.0,65,1,0,0,0
19997,74.928571,6.082311,84.0,65.0,98.214286,0.611250,99.0,97.0,37.792500,0.821356,...,6.5,184.000000,0.000000,184.0,184.0,79,0,1,0,0
19998,83.666667,10.030163,110.0,60.0,99.484848,1.148945,100.0,96.0,37.033636,0.678208,...,8.8,166.666667,27.934447,197.0,142.0,38,1,0,0,0
19999,101.571429,9.594378,117.0,76.0,91.477273,3.460667,100.0,85.0,36.778000,0.421078,...,5.7,327.500000,14.849242,338.0,317.0,83,0,0,0,0

In [160]:
test_df = pd.read_csv('/content/drive/MyDrive/Data/test_df_real.csv')
test_df

,HR_mean,HR_std,HR_max,HR_min,O2Sat_mean,O2Sat_std,O2Sat_max,O2Sat_min,Temp_mean,Temp_std,...,WBC_min,Platelets_mean,Platelets_std,Platelets_max,Platelets_min,Age,Gender,Unit1,HospAdmTime,label
0,70.942857,4.807732,83.0,61.0,97.333333,1.314978,100.0,95.0,36.838000,0.174216,...,5.5,248.0,19.798990,262.0,234.0,24,0,0,0,0
1,71.157895,5.974605,84.0,64.0,96.583333,1.833111,99.0,93.0,36.597500,0.656068,...,5.5,147.0,0.000000,147.0,147.0,61,0,0,-6,0
2,94.036364,9.655096,122.0,78.0,98.927083,1.336833,100.0,95.0,36.832667,0.454053,...,8.9,309.0,12.516656,325.0,296.0,67,0,0,-65,0
3,104.285714,8.993997,135.0,92.0,97.170732,2.060369,100.0,89.0,37.175833,0.302488,...,8.6,278.5,40.305087,307.0,250.0,71,0,1,-179,0
4,59.650000,10.907626,80.0,45.0,97.526316,0.841191,99.0,96.0,36.866667,0.346391,...,7.3,240.0,0.000000,240.0,240.0,25,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,76.608108,3.968863,86.0,71.0,99.810811,0.397061,100.0,99.0,37.437500,0.282527,...,11.1,180.0,0.000000,180.0,180.0,50,1,0,0,1
9996,66.600000,6.767570,78.0,60.0,98.000000,1.224745,99.0,96.0,36.280000,0.148324,...,5.6,209.0,0.000000,209.0,209.0,59,0,0,-14,0
9997,80.573529,8.912140,105.5,66.0,95.764706,2.310173,100.0,90.0,36.872222,0.334581,...,10.4,206.0,0.000000,206.0,206.0,58,1,0,-2,0
9998,73.192308,11.207209,99.0,60.0,96.192308,2.097984,100.0,93.0,36.500000,0.472582,...,7.5,177.0,0.000000,177.0,177.0,78,0,1,-1,0
9999,77.841463,12.692734,107.5,57.0,97.051282,1.731271,100.0,93.0,36.668462,0.568123,...,6.0,155.4,59.885725,258.0,106.0,87,1,0,-102,0

In [161]:
from sklearn.impute import KNNImputer

def fill_nan_values(df):
    imputer = KNNImputer(n_neighbors=5)
    df = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)
    return df

train_df = fill_nan_values(train_df)

In [162]:
test_df = fill_nan_values(test_df)

Handling missing data

Student Test for measuring the importance of each features with the label

In [28]:
from scipy import stats

def student_t_test(dataframe, label_column):
    # Séparation des groupes en fonction de la colonne "label"
    group_0 = dataframe[dataframe[label_column] == 0]
    group_1 = dataframe[dataframe[label_column] == 1]

    # Parcours de chaque colonne du DataFrame
    for column in dataframe.columns:
        if column != label_column:
            data_group_0 = group_0[column]
            data_group_1 = group_1[column]

            # Test de Student indépendant
            t_statistic, p_value = stats.ttest_ind(data_group_0, data_group_1)

            print(f"Colonne : {column}")
            print(f"T-statistic : {t_statistic}")
            print(f"P-value : {p_value}\n")

student_t_test(train_df, 'label')

Colonne : HR_mean
T-statistic : -14.839741520219501
P-value : 1.4879867265821113e-49

Colonne : HR_std
T-statistic : -10.002906386179882
P-value : 1.680668951153267e-23

Colonne : HR_max
T-statistic : -18.250109328343303
P-value : 8.206710334826344e-74

Colonne : HR_min
T-statistic : -10.235925996507813
P-value : 1.5734770154281163e-24

Colonne : O2Sat_mean
T-statistic : -1.0118167991426594
P-value : 0.3116378978961486

Colonne : O2Sat_std
T-statistic : -3.425697269654837
P-value : 0.0006144554617951622

Colonne : O2Sat_max
T-statistic : -1.6344218421992585
P-value : 0.10218604509103581

Colonne : O2Sat_min
T-statistic : 6.201808698185644
P-value : 5.691251207355601e-10

Colonne : Temp_mean
T-statistic : -13.722522415787793
P-value : 1.1617108996482272e-42

Colonne : Temp_std
T-statistic : -12.103676729794064
P-value : 1.3237051546606785e-33

Colonne : Temp_max
T-statistic : -20.196310837269532
P-value : 8.294294477832488e-90

Colonne : Temp_min
T-statistic : -3.168712904975257
P-value : 0.0015334604395763186

Colonne : SBP_mean
T-statistic : 5.1008707434976435
P-value : 3.411838729593148e-07

Colonne : SBP_std
T-statistic : -7.603841857724842
P-value : 3.001402294314986e-14

Colonne : SBP_max
T-statistic : -2.2932225432322837
P-value : 0.021845521573692992

Colonne : SBP_min
T-statistic : 10.339752081904857
P-value : 5.384333955213481e-25

Colonne : MAP_mean
T-statistic : 6.713663229362167
P-value : 1.9488999551305467e-11

Colonne : MAP_std
T-statistic : -5.684059540953025
P-value : 1.3336653220316397e-08

Colonne : MAP_max
T-statistic : -3.955184015391679
P-value : 7.673933342512906e-05

Colonne : MAP_min
T-statistic : 11.463299998966663
P-value : 2.5085600832365884e-30

Colonne : DBP_mean
T-statistic : 7.035074464664795
P-value : 2.055887524921221e-12

Colonne : DBP_std
T-statistic : -1.1213912297329158
P-value : 0.26213483275870864

Colonne : DBP_max
T-statistic : -0.5261282203210711
P-value : 0.5988049567752525

Colonne : DBP_min
T-statistic : 8.946331764606093
P-value : 3.9883761300122155e-19

Colonne : Resp_mean
T-statistic : -13.19573411528195
P-value : 1.359273880604343e-39

Colonne : Resp_std
T-statistic : -7.367259838364135
P-value : 1.8093579473958057e-13

Colonne : Resp_max
T-statistic : -13.125207836382993
P-value : 3.4294259089545196e-39

Colonne : Resp_min
T-statistic : -6.31279362491401
P-value : 2.7980606274236234e-10

Colonne : BUN_mean
T-statistic : -12.061412491235775
P-value : 2.2052032303556426e-33

Colonne : BUN_std
T-statistic : -10.40762690531593
P-value : 2.6558329415600562e-25

Colonne : BUN_max
T-statistic : -15.061132783820215
P-value : 5.555398388128949e-51

Colonne : BUN_min
T-statistic : -8.959156578497652
P-value : 3.552430964522445e-19

Colonne : Calcium_mean
T-statistic : 10.865702180248736
P-value : 2.003425923543127e-27

Colonne : Calcium_std
T-statistic : -6.845448513078924
P-value : 7.844596817427614e-12

Colonne : Calcium_max
T-statistic : 2.4430793553257764
P-value : 0.014571123997900353

Colonne : Calcium_min
T-statistic : 12.232616349231796
P-value : 2.7599563030248063e-34

Colonne : Creatinine_mean
T-statistic : -5.121223290840462
P-value : 3.0637698820102215e-07

Colonne : Creatinine_std
T-statistic : -5.647223524890892
P-value : 1.652739452726383e-08

Colonne : Creatinine_max
T-statistic : -6.746243513703625
P-value : 1.5587122161875553e-11

Colonne : Creatinine_min
T-statistic : -3.621795489211215
P-value : 0.00029328900505029993

Colonne : Glucose_mean
T-statistic : -5.982517135771947
P-value : 2.2345530053950933e-09

Colonne : Glucose_std
T-statistic : -0.43849389186876014
P-value : 0.6610330337393762

Colonne : Glucose_max
T-statistic : -5.7578845525595606
P-value : 8.642236811516536e-09

Colonne : Glucose_min
T-statistic : -3.896114279023172
P-value : 9.806652213828234e-05

Colonne : Magnesium_mean
T-statistic : -3.221218535045552
P-value : 0.0012785092086749633

Colonne : Magnesium_std
T-statistic : -3.676464938298024
P-value : 0.0002371070875269913

Colonne : Magnesium_max
T-statistic : -8.045351479513386
P-value : 9.07578402518569e-16

Colonne : Magnesium_min
T-statistic : 3.4918405401600787
P-value : 0.0004807394915516262

Colonne : Phosphate_mean
T-statistic : -4.901374267053146
P-value : 9.591376691147658e-07

Colonne : Phosphate_std
T-statistic : -11.133875352341526
P-value : 1.0423641839146526e-28

Colonne : Phosphate_max
T-statistic : -11.748281927629234
P-value : 9.166259516658532e-32

Colonne : Phosphate_min
T-statistic : 2.147947451908769
P-value : 0.03172990683827232

Colonne : Potassium_mean
T-statistic : 0.261441921997405
P-value : 0.7937544241676111

Colonne : Potassium_std
T-statistic : -3.6243293641003764
P-value : 0.0002904306716655892

Colonne : Potassium_max
T-statistic : -6.726143389371505
P-value : 1.789273978681076e-11

Colonne : Potassium_min
T-statistic : 6.485475867931414
P-value : 9.052152037223094e-11

Colonne : Hct_mean
T-statistic : 7.857140344849212
P-value : 4.127707761369165e-15

Colonne : Hct_std
T-statistic : -6.8846125777326925
P-value : 5.966275902672231e-12

Colonne : Hct_max
T-statistic : 2.753355807255458
P-value : 0.005904098347189979

Colonne : Hct_min
T-statistic : 10.650698261184015
P-value : 2.037160847681369e-26

Colonne : Hgb_mean
T-statistic : 7.998956858312454
P-value : 1.3226181440030062e-15

Colonne : Hgb_std
T-statistic : -6.09318643092978
P-value : 1.1270978830005311e-09

Colonne : Hgb_max
T-statistic : 2.5249767505293446
P-value : 0.011578260490110648

Colonne : Hgb_min
T-statistic : 11.042789146479931
P-value : 2.8672394140211743e-28

Colonne : WBC_mean
T-statistic : -12.118013886940398
P-value : 1.1128277366242586e-33

Colonne : WBC_std
T-statistic : -10.504928421274462
P-value : 9.567500053403059e-26

Colonne : WBC_max
T-statistic : -15.171936822921722
P-value : 1.0528869964827123e-51

Colonne : WBC_min
T-statistic : -8.069473974386833
P-value : 7.455675158611081e-16

Colonne : Platelets_mean
T-statistic : -0.10355298579212528
P-value : 0.9175251372802651

Colonne : Platelets_std
T-statistic : -12.333667630029007
P-value : 7.98693876980031e-35

Colonne : Platelets_max
T-statistic : -4.878704477229799
P-value : 1.0760625793784122e-06

Colonne : Platelets_min
T-statistic : 3.3562301319058303
P-value : 0.0007915989589829012

Colonne : Age
T-statistic : -1.219695759135633
P-value : 0.22259461415947882

Colonne : Gender
T-statistic : -2.0667624553613995
P-value : 0.0387693835027774

Colonne : Unit1
T-statistic : -1.81733625260843
P-value : 0.06918060107701833

Colonne : HospAdmTime
T-statistic : 6.680825231362956
P-value : 2.4385209355522734e-11

In [167]:
def delete_columns(df, col_to_drop):
  df = df.drop(columns=col_to_drop, axis=1)
  return df

train_df = delete_columns(train_df, ['O2Sat_mean', 'O2Sat_max', 'DBP_max', 'Glucose_std', 'Potassium_mean', 'Platelets_mean', 'Unit1'])

In [168]:
test_df = delete_columns(test_df, ['O2Sat_mean', 'O2Sat_max', 'DBP_max', 'Glucose_std', 'Potassium_mean', 'Platelets_mean', 'Unit1'])

Correlation between each columns

In [36]:
def calculate_correlations(dataframe, alpha):
    columns = dataframe.columns
    num_columns = len(columns)
    
    for i in range(num_columns):
        for j in range(i+1, num_columns):
            col1 = columns[i]
            col2 = columns[j]
            correlation = dataframe[col1].corr(dataframe[col2])
            
            if abs(correlation) > alpha:
                print(f"Correlation between {col1} and {col2} : {correlation}")

calculate_correlations(train_df, 0.7)

Correlation between HR_mean and HR_max : 0.8187882786340273
Correlation between HR_mean and HR_min : 0.862806530317401
Correlation between O2Sat_std and O2Sat_min : -0.8882845949511262
Correlation between Temp_mean and Temp_max : 0.8263592918737134
Correlation between SBP_mean and SBP_max : 0.8350199485046639
Correlation between SBP_mean and SBP_min : 0.7618622343895036
Correlation between SBP_mean and MAP_mean : 0.7911813078310567
Correlation between SBP_std and SBP_max : 0.7187585552536546
Correlation between SBP_min and MAP_min : 0.7189416117516365
Correlation between MAP_mean and MAP_min : 0.7944895769596814
Correlation between MAP_mean and DBP_mean : 0.8478317943609956
Correlation between MAP_std and MAP_max : 0.7713384937261403
Correlation between MAP_min and DBP_min : 0.7721450717701264
Correlation between DBP_mean and DBP_min : 0.8241950961374024
Correlation between Resp_std and Resp_max : 0.7721458362008219
Correlation between BUN_mean and BUN_max : 0.9765472765583144
Correlation between BUN_mean and BUN_min : 0.9769135603558385
Correlation between BUN_std and Creatinine_std : 0.7203399823787305
Correlation between BUN_max and BUN_min : 0.9145665726016976
Correlation between Calcium_mean and Calcium_min : 0.8930133507039356
Correlation between Calcium_std and Calcium_min : -0.8757601536853115
Correlation between Creatinine_mean and Creatinine_max : 0.985654001533452
Correlation between Creatinine_mean and Creatinine_min : 0.9862414718382416
Correlation between Creatinine_max and Creatinine_min : 0.9479927521965863
Correlation between Glucose_mean and Glucose_max : 0.8266627129046611
Correlation between Magnesium_mean and Magnesium_max : 0.8654791901111151
Correlation between Magnesium_mean and Magnesium_min : 0.8378559232005717
Correlation between Phosphate_mean and Phosphate_max : 0.9272961463116975
Correlation between Phosphate_mean and Phosphate_min : 0.930078952088183
Correlation between Phosphate_max and Phosphate_min : 0.7391527077508939
Correlation between Potassium_std and Potassium_max : 0.7162998323683617
Correlation between Hct_mean and Hct_max : 0.9336933462531478
Correlation between Hct_mean and Hct_min : 0.9510720297403881
Correlation between Hct_mean and Hgb_mean : 0.9509626176120145
Correlation between Hct_mean and Hgb_max : 0.8638531535759907
Correlation between Hct_mean and Hgb_min : 0.9260073666770777
Correlation between Hct_std and Hgb_std : 0.8205353870094194
Correlation between Hct_max and Hct_min : 0.7962775211230427
Correlation between Hct_max and Hgb_mean : 0.9042133862137939
Correlation between Hct_max and Hgb_max : 0.927310996245213
Correlation between Hct_max and Hgb_min : 0.7959528379462049
Correlation between Hct_min and Hgb_mean : 0.8913889585863767
Correlation between Hct_min and Hgb_max : 0.7317357813574058
Correlation between Hct_min and Hgb_min : 0.9508281193203972
Correlation between Hgb_mean and Hgb_max : 0.9350352073980608
Correlation between Hgb_mean and Hgb_min : 0.9508742337803875
Correlation between Hgb_max and Hgb_min : 0.7965640701919996
Correlation between WBC_mean and WBC_max : 0.9356998760450743
Correlation between WBC_mean and WBC_min : 0.9504274061567652
Correlation between WBC_std and WBC_max : 0.7317534139645334
Correlation between WBC_max and WBC_min : 0.7983408439777271
Correlation between Platelets_max and Platelets_min : 0.9266747429443138

In [169]:
to_delete = ['HR_max', 'HR_min', 'O2Sat_min', 'Temp_max', 'SBP_max', 'SBP_min', 'SBP_mean', 'SBP_std', 'DBP_mean', 'DBP_std',
             'DBP_min', 'MAP_min', 'MAP_max', 'Resp_max', 'BUN_max', 'BUN_min', 'Creatinine_std', 'Creatinine_max', 'Creatinine_min',
             'Glucose_max', 'Magnesium_max', 'Magnesium_min', 'Phosphate_max', 'Phosphate_min', 'Hct_mean', 'Hct_std', 'Hct_min', 'Hct_max',
              'Hgb_min', 'Hgb_max', 'WBC_min', 'WBC_max', 'Platelets_min']
train_df = delete_columns(train_df, to_delete)

In [170]:
test_df = delete_columns(test_df, to_delete)

In [39]:
print(train_df.columns)

Index(['HR_mean', 'HR_std', 'O2Sat_std', 'Temp_mean', 'Temp_std', 'Temp_min',
       'MAP_mean', 'MAP_std', 'Resp_mean', 'Resp_std', 'Resp_min', 'BUN_mean',
       'BUN_std', 'Calcium_mean', 'Calcium_std', 'Calcium_max', 'Calcium_min',
       'Creatinine_mean', 'Glucose_mean', 'Glucose_min', 'Magnesium_mean',
       'Magnesium_std', 'Phosphate_mean', 'Phosphate_std', 'Potassium_std',
       'Potassium_max', 'Potassium_min', 'Hgb_mean', 'Hgb_std', 'WBC_mean',
       'WBC_std', 'Platelets_std', 'Platelets_max', 'Age', 'Gender',
       'HospAdmTime', 'label'],
      dtype='object')

In [109]:
print(test_df.columns)

Index(['HR_mean', 'HR_std', 'O2Sat_std', 'Temp_mean', 'Temp_std', 'Temp_min',
       'MAP_mean', 'MAP_std', 'Resp_mean', 'Resp_std', 'Resp_min', 'BUN_mean',
       'BUN_std', 'Calcium_mean', 'Calcium_std', 'Calcium_max', 'Calcium_min',
       'Creatinine_mean', 'Glucose_mean', 'Glucose_min', 'Magnesium_mean',
       'Magnesium_std', 'Phosphate_mean', 'Phosphate_std', 'Potassium_std',
       'Potassium_max', 'Potassium_min', 'Hgb_mean', 'Hgb_std', 'WBC_mean',
       'WBC_std', 'Platelets_std', 'Platelets_max', 'Age', 'Gender',
       'HospAdmTime', 'label'],
      dtype='object')

Normalizing the data

In [46]:
from sklearn.preprocessing import MinMaxScaler

def normalize(df):
  columns_to_normalize = df.columns[train_df.columns != "label"]
  scaler = MinMaxScaler()
  dataset = pd.DataFrame(scaler.fit_transform(df[columns_to_normalize]), columns=columns_to_normalize)
  dataset["label"] = df["label"]
  return dataset

train_df = normalize(train_df)

In [110]:
test_df = normalize(test_df)

In [145]:
print(train_df)

          HR_mean     HR_std  O2Sat_std  Temp_mean  Temp_std  Temp_min  \
0       60.954545   8.144395   2.138090  36.165000  0.151625     36.00
1       89.121212   6.845425   0.000000  37.680000  0.377856     37.17
2       74.828571   7.875822   2.252358  36.791000  0.414205     36.44
3       76.559524  10.748909   1.521860  37.147500  0.247538     36.89
4       98.613636   5.520377   1.768685  36.760000  0.207364     36.50
...           ...        ...        ...        ...       ...       ...
19995  104.407407  10.936914   1.766457  37.229167  0.515160     36.20
19996   63.714286   6.153665   0.655983  36.338462  0.539550     35.56
19997   74.928571   6.082311   0.611250  37.792500  0.821356     37.00
19998   83.666667  10.030163   1.148945  37.033636  0.678208     35.44
19999  101.571429   9.594378   3.460667  36.778000  0.421078     36.11

         MAP_mean    MAP_std  Resp_mean  Resp_std  ...   Hgb_mean   Hgb_std  \
0       66.704545  14.720134  14.236842  4.667763  ...   9.700000  0.000000
1       88.218750   8.048179  16.370370  2.950204  ...  12.200000  0.778888
2       93.494839   8.615766  17.470588  2.735682  ...  11.700000  0.000000
3       88.261905   7.720604  16.809524  2.149737  ...  14.000000  0.707107
4       83.113636   3.885050  19.477273  2.129595  ...  11.300000  0.000000
...           ...        ...        ...       ...  ...        ...       ...
19995   85.296296   9.980037  17.601852  3.378566  ...  11.080000  0.810555
19996  103.547619  31.478372  19.083333  2.800080  ...   9.400000  0.000000
19997   89.345000   4.386093  17.642857  2.097880  ...   9.700000  0.000000
19998   76.833333   7.065173  14.803030  3.196530  ...  11.533333  1.350309
19999   87.261905  21.270465  24.820000  4.106689  ...  12.350000  0.212132

        WBC_mean   WBC_std  Platelets_std  Platelets_max   Age  Gender  \
0      11.000000  0.000000       0.000000          158.0  75.0     0.0
1      11.233333  1.096966      23.388031          225.0  65.0     1.0
2       3.500000  0.000000       0.000000           65.0  52.0     1.0
3      10.950000  0.919239      70.710678          243.0  49.0     1.0
4      10.800000  0.000000       0.000000          170.0  73.0     1.0
...          ...       ...            ...            ...   ...     ...
19995   8.720000  2.073672      26.932052          269.6  59.0     1.0
19996   2.300000  0.000000       0.000000          120.0  65.0     1.0
19997   6.500000  0.000000       0.000000          184.0  79.0     0.0
19998  10.966667  2.929733      27.934447          197.0  38.0     1.0
19999  10.200000  6.363961      14.849242          338.0  83.0     0.0

       HospAdmTime  label
0            -98.0    0.0
1              0.0    1.0
2              0.0    0.0
3              0.0    0.0
4           -214.0    0.0
...            ...    ...
19995         -4.0    0.0
19996          0.0    0.0
19997          0.0    0.0
19998          0.0    0.0
19999          0.0    0.0

[20000 rows x 37 columns]

In [66]:
def analyze_classification_results(df, y_true, y_pred):
    group_columns = {'Hommes': df[df['Gender'] == 0].index, 1: df[df['Gender'] == 1].index,
                 '0-25 ans': df[(df['Age'] >= 0) & (df['Age'] <= 25)].index,
                 '25-50 ans': df[(df['Age'] > 25) & (df['Age'] <= 50)].index,
                 '50-75 ans': df[(df['Age'] > 50) & (df['Age'] <= 75)].index,
                 '75-100 ans': df[(df['Age'] > 75) & (df['Age'] <= 100)].index}
    results = {}
    
    for group_name, group_indices in group_columns.items():
        group_true = y_true[group_indices]
        group_pred = y_pred[group_indices]
        
        accuracy = accuracy_score(group_true, group_pred)
        recall = recall_score(group_true, group_pred)
        f1 = f1_score(group_true, group_pred)
        
        results[group_name] = {'Accuracy': accuracy, 'Recall': recall, 'F1 Score': f1}
    
    return results

In [171]:
from sklearn.utils import resample

def balance_dataset(dataframe, label_column):
    counts = dataframe[label_column].value_counts()
    minority_label = counts.idxmin()
    majority_label = counts.idxmax()
    minority_count = counts[minority_label]
    majority_count = counts[majority_label]

    print('balance of the dataset: ' + str(majority_count*100/(majority_count+minority_count)) + '% vs ' + str(minority_count*100/(majority_count+minority_count)) + '%' )

    minority_samples = dataframe[dataframe[label_column] == minority_label]
    majority_samples = dataframe[dataframe[label_column] == majority_label]
    minority_samples_upsampled = resample(minority_samples, replace=True, n_samples=majority_count, random_state=42)

    balanced_data = pd.concat([majority_samples, minority_samples_upsampled])
    counts = balanced_data[label_column].value_counts()
    minority_label = counts.idxmin()
    majority_label = counts.idxmax()
    minority_count = counts[minority_label]
    majority_count = counts[majority_label]

    print('balance of the dataset: ' + str(majority_count*100/(majority_count+minority_count)) + '% vs ' + str(minority_count*100/(majority_count+minority_count)) + '%' )

    return balanced_data

In [172]:
balanced_train_df = balance_dataset(train_df, 'label')

balance of the dataset: 92.945% vs 7.055%
balance of the dataset: 50.0% vs 50.0%

Separate Test and Test

In [173]:
y_train = balanced_train_df["label"]
X_train = balanced_train_df.drop("label", axis=1)
y_test = test_df["label"]
X_test = test_df.drop("label", axis=1)

models SVM

In [177]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, f1_score

model = SVC(C=1.0, kernel='rbf', probability=True, max_iter=1000)  

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

confusion = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("confusion Matrix :\n", confusion)
print("Accuracy :", accuracy)
print("Recall :", recall)
print("Score F1 :", f1)

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:299: ConvergenceWarning: Solver terminated early (max_iter=1000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn(

confusion Matrix :
 [[ 472 8791]
 [  77  660]]
Accuracy : 0.1132
Recall : 0.8955223880597015
Score F1 : 0.12956419316843346

In [125]:
results = analyze_classification_results(train_df, y_train, y_pred)
for group_name, metrics in results.items():
    print(f"Groupe : {group_name}")
    print(f"Accuracy : {metrics['Accuracy']}")
    print(f"Recall : {metrics['Recall']}")
    print(f"F1 Score : {metrics['F1 Score']}")
    print()

KeyError: ignored

Model Logistic regression

In [178]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(C=1.0, penalty='l2', solver='liblinear', max_iter=10000)  # Choisissez les hyperparamètres appropriés pour votre problème

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

confusion = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Matrice de confusion :\n", confusion)
print("Exactitude (Accuracy) :", accuracy)
print("Rappel (Recall) :", recall)
print("Score F1 :", f1)

Matrice de confusion :
 [[6901 2362]
 [ 264  473]]
Exactitude (Accuracy) : 0.7374
Rappel (Recall) : 0.6417910447761194
Score F1 : 0.26483762597984317

In [89]:
results = analyze_classification_results(balanced_train_df, y_test, y_pred)
for group_name, metrics in results.items():
    print(f"Groupe : {group_name}")
    print(f"Accuracy : {metrics['Accuracy']}")
    print(f"Recall : {metrics['Recall']}")
    print(f"F1 Score : {metrics['F1 Score']}")
    print()

Groupe : Hommes
Accuracy : 0.9668853483286473
Recall : 0.9522388059701492
F1 Score : 0.96514075243357

Groupe : 1
Accuracy : 0.9613186605582582
Recall : 0.9472620360161705
F1 Score : 0.9617985913522086

Groupe : 0-25 ans
Accuracy : 0.9637151003281511
Recall : 0.949324869546506
F1 Score : 0.9631853287121688

Groupe : 25-50 ans
Accuracy : nan
Recall : 0.0
F1 Score : 0.0

Groupe : 50-75 ans
Accuracy : nan
Recall : 0.0
F1 Score : 0.0

Groupe : 75-100 ans
Accuracy : nan
Recall : 0.0
F1 Score : 0.0

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:495: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:495: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:495: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))

Model Random Forest

In [180]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, max_depth=20, random_state=42) 

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

confusion = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("confusion matrix :\n", confusion)
print("Accuracy :", accuracy)
print("Recall :", recall)
print("F1 Score :", f1)

confusion matrix :
 [[9237   26]
 [ 697   40]]
Accuracy : 0.9277
Recall : 0.054274084124830396
F1 Score : 0.099626400996264

In [88]:
import joblib
joblib.dump(model, "/content/drive/MyDrive/Models/model_random_forest.sav")

['/content/drive/MyDrive/Models/model_random_forest.sav']

In [121]:
model = joblib.load('/content/drive/MyDrive/Models/model_random_forest.sav')

In [122]:
y_pred = model.predict(X_test)

confusion = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("confusion matrix :\n", confusion)
print("Accuracy :", accuracy)
print("Recall :", recall)
print("F1 Score :", f1)

confusion matrix :
 [[9222   41]
 [ 706   31]]
Accuracy : 0.9253
Recall : 0.04206241519674356
F1 Score : 0.07663782447466007

In [94]:
feature_importances = model.feature_importances_
for feature, importance in zip(balanced_train_df.columns, feature_importances):
    print(f"Feature: {feature}, Importance: {importance*100}%")

Feature: HR_mean, Importance: 3.945541791247151%
Feature: HR_std, Importance: 2.953894224689293%
Feature: O2Sat_std, Importance: 2.670785607526876%
Feature: Temp_mean, Importance: 8.91538576595064%
Feature: Temp_std, Importance: 6.130372256389836%
Feature: Temp_min, Importance: 4.136028196082635%
Feature: MAP_mean, Importance: 2.7015771795449988%
Feature: MAP_std, Importance: 2.571939822662782%
Feature: Resp_mean, Importance: 4.716445145110882%
Feature: Resp_std, Importance: 2.358554544518212%
Feature: Resp_min, Importance: 2.2009921323046946%
Feature: BUN_mean, Importance: 5.579429957517639%
Feature: BUN_std, Importance: 2.151577376245142%
Feature: Calcium_mean, Importance: 2.1705990710666794%
Feature: Calcium_std, Importance: 1.8426578882449953%
Feature: Calcium_max, Importance: 1.5337758082998614%
Feature: Calcium_min, Importance: 3.621558637508753%
Feature: Creatinine_mean, Importance: 2.635753091347318%
Feature: Glucose_mean, Importance: 1.9303710229896118%
Feature: Glucose_min, Importance: 1.828155045262939%
Feature: Magnesium_mean, Importance: 1.3685641716938526%
Feature: Magnesium_std, Importance: 1.476284949015762%
Feature: Phosphate_mean, Importance: 1.8544889642240856%
Feature: Phosphate_std, Importance: 2.716961534034829%
Feature: Potassium_std, Importance: 1.3892159281896208%
Feature: Potassium_max, Importance: 1.4564702047353817%
Feature: Potassium_min, Importance: 2.4819709129525696%
Feature: Hgb_mean, Importance: 2.3145334150865664%
Feature: Hgb_std, Importance: 1.4589791115194548%
Feature: WBC_mean, Importance: 3.3840641839755325%
Feature: WBC_std, Importance: 3.1000841864408546%
Feature: Platelets_std, Importance: 2.0980102326917716%
Feature: Platelets_max, Importance: 1.9782871390122747%
Feature: Age, Importance: 1.3778744024045362%
Feature: Gender, Importance: 0.15782190338961466%
Feature: HospAdmTime, Importance: 4.79099419612237%

In [84]:
results = analyze_classification_results(train_df, y_test, y_pred)
for group_name, metrics in results.items():
    print(f"Groupe : {group_name}")
    print(f"Accuracy : {metrics['Accuracy']}")
    print(f"Recall : {metrics['Recall']}")
    print(f"F1 Score : {metrics['F1 Score']}")
    print()

Groupe : Hommes
Accuracy : 0.9776152980877391
Recall : 0.9372881355932203
F1 Score : 0.8475095785440612

Groupe : 1
Accuracy : 0.9733573357335733
Recall : 0.9378806333739342
F1 Score : 0.8387799564270153

Groupe : 0-25 ans
Accuracy : 0.97525
Recall : 0.9376328844790929
F1 Score : 0.8424068767908309

Groupe : 25-50 ans
Accuracy : nan
Recall : 0.0
F1 Score : 0.0

Groupe : 50-75 ans
Accuracy : nan
Recall : 0.0
F1 Score : 0.0

Groupe : 75-100 ans
Accuracy : nan
Recall : 0.0
F1 Score : 0.0

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:495: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:495: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:495: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))

AdaBoost Classifier

In [175]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(n_estimators=100, random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

confusion = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Matrice de confusion :\n", confusion)
print("Exactitude (Accuracy) :", accuracy)
print("Rappel (Recall) :", recall)
print("Score F1 :", f1)

Matrice de confusion :
 [[7375 1888]
 [ 218  519]]
Exactitude (Accuracy) : 0.7894
Rappel (Recall) : 0.7042062415196744
Score F1 : 0.3301526717557252

In [176]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

confusion = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Matrice de confusion :\n", confusion)
print("Exactitude (Accuracy) :", accuracy)
print("Rappel (Recall) :", recall)
print("Score F1 :", f1)

Matrice de confusion :
 [[7586 1677]
 [ 229  508]]
Exactitude (Accuracy) : 0.8094
Rappel (Recall) : 0.689280868385346
Score F1 : 0.3477070499657769

In [181]:
import joblib
joblib.dump(model, "/content/drive/MyDrive/Models/model_gradient_boost.sav")

['/content/drive/MyDrive/Models/model_gradient_boost.sav']